
body{
    font-family: 'Ubuntu',sans-serif;
    width: 960px;
    margin: 0 auto;
}

#content {
    text-align: center;
    background-color: seashell;
    padding-bottom: 35px;
}

h1{
    text-align: center;
    font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;
}

section {
    margin: 25px 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#img_bridge{
    width: 900px;
}

.day_box{
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/


    margin: 0 auto;
    width: 200px;
    height: 200px;

    font-size: 7em;
    line-height: 155px;
    background-color: #FFFFFF;

    z-index: 1;
    position: relative;

    margin-top: 10px;
    margin-bottom: 50px;
}

#cricket{
    margin-top: -236px;
    width: 300px;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    z-index: 0;
    box-shadow: 0px 0px 22px #000000;
    -webkit-backface-visibility: hidden;
    margin-left: 66px;
}

#gantry{
    margin-top: -236px;
    margin-left: -11px;
    width: 300px;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    z-index: 0;
    box-shadow: 0px 0px 22px #000000;
    -webkit-backface-visibility: hidden;
}

#container {
    height: 352px;
    width: 438px;
    position: relative;
}
#image {
    position: absolute;
    left: auto;
    top: 0;
    width: 530px;
}
#text {
    z-index: 100;
    position: absolute;
    font-size: 41px;
    font-weight: bold;
    left: 88%;
    bottom: 62px;
}

.div_header{
    text-align: center;
}
.img_header{
    /*width: 767px;*/
    width: 100%;
}

#history_table{
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.aftermath_image{
    width: 260px;
}

.wreath{
    padding-left: 10px;
}

#history_table tr td {
    padding: 5px;
}

#history_table tr td:first-child  {
        padding-right: 22px;
}


#history_table th td {
    padding: 20px;
}



.imgContainer{
    display: inline-block;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
    #image{
        margin-left: 225px;
    }
}
a{text-decoration: underline;
    color: #456ad6;}

.news_siren_wrapper{
    display: flex;
    margin-bottom: 15px;
}

.siren{
	height: 45px;
}

.siren_text{
	font-size:30px;
    flex: 1;
}

.bottom_section{
	font-size:22px;
}

.frame .photo {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;

}

.frame {
    /*height: 356px;
    width: 463px;*/
      max-width: 70%;
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 2vh 2vw;

  padding: 10px;
  position: relative;
  text-align: center;
}
.frame:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}
.frame:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

.right_candle{
    bottom: -60px;
    right:-84px;
    position: absolute;
    width: 171px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 100;
}
.left_candle{
    bottom: -60px;
    left: -69px;
    position: absolute;
    width: 171px;
    z-index: 100;
}

.band{
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 60%, 100% 70%, 70% 100%, 60% 100%);
}

thead th {
    background-repeat: no-repeat;
    background-position: right center;
}
thead th.up {
    padding-right: 20px;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
thead th.down {
    padding-right: 20px;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

#history_table thead tr > th{
    background-color: seashell;
}
tr.bottom td { border-top: thin solid black; }
tr:last-child  td{ border-bottom: thin solid black; }

#history_table {
    width: 100%;
    position: relative;
}
#history_table thead th {
    position: sticky;
    top: 0;
    border-bottom: thin solid black;
    font-size: 25px;
}

.bout_date{
    font-size: 20px;
}

.chump_name{
    font-size: 18px;
}

.break{
    border-bottom: thin solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 10px;
    color: grey;
    width: 60%;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5a5a5a;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #e68c86;
}

.hidden{
    display: none;
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.module {
	 background: white;
	 border: 1px solid #ccc;
	 margin: 3%;
}
 .module > h2 {
	 padding: 1rem;
	 margin: 0 0 0.5rem 0;
}
 .module > p {
	 padding: 0 1rem;
}
 .stripe-3 {
	 background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 20px), url(https://howmanydayssincemontaguestreetbridgehasbeenhit.com/static/img/old_map_@2X.png);
}
 
 .text-block {
	color: black !important;
}

.construction_gif{
	width:40px;
	vertical-align: middle;
}

.gantry_wrapper{
	background-color: #ffffff8f;
    
    padding: 4px;
    border-radius: 4px;
}